*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ! ----------------------------------CUERPO------------------------------------------------------------------- */
/* Cuerpo */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* ! ----------------------------------FINALIZA CUERPO---------------------------------------------------------- */

/* ! ------------------------------------------INDEX------------------------------------------------- */
/* Menu */
.navbar-brand{
    margin-left: 20px;
}

/* Menu */
.navbar-nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


/* Menu */
.nav-link {
    color: #e9183b;
}


/* Menu */
.navbar-collapse {
    justify-content: end;
}


/* Menu */
.container-fluid {
    height: auto;
    flex-direction: column;
}


/* Termina Menu */
.navbar-light .navbar-nav .nav-link {
    color: #e9183b;
}


/* Titulo "Productos Estrellas" */
.titulo__inicio {
    text-align: center;
    font-size: 6vw;
    font-family: 'Shadows Into Light', cursive;
}


/* Contenedor de Productos Estrellas */
.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: 3fr;
	gap: 20px;
}


/* Contenedor de Productos Estrellas */
.contenedor-productos-estrellas {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}


/* Contenedor de Productos Estrellas */
.tarjeta-productos-estrellas {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-image: url("../img/empanadas2.jpg");
}


/* Contenedor de Productos Estrellas */
.tarjeta-productos-estrellas__texto {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    text-align: center;
    font-size: 1vw;
    color: #fff;
    text-shadow: 2px 2px 2px #e9183b;
}

h3 {
    font-size: 6vh;
}
/* ! ----------------------------------FINALIZA INDEX-------------------------------------------------------- */

/* ! ----------------------------------PRODUCTOS------------------------------------------------------------ */
/* Contenedor De Pagina Productos */
.container {
    padding-top: 200px;
    padding-bottom: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Texto Adentro Del Contenedor De Productos */
.tarjeta-productos__title {
    font-size: 3vh;
    text-shadow: 2px 2px 2px #e9183b;
}


.tarjeta-productos {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-color: #ffffff;
}


.productos {
    color: #000000;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
/* ! ----------------------------------FINALIZA PRODUCTOS------------------------------------------------------- */


/* ! ----------------------------------LOCALES------------------------------------------------------------------ */
/* Contenedor de locales */
.mt-5 {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	gap: 20px;
}


/* Contenedor de locales selector de Direccion */
hr {
    border-top: 1px solid #007bff;
    width:70%;
}


/* Selector De Direccion Color */
a {
    color: #000000;
}


/* Direccion */
address {
    margin-bottom: 10px;
}
/* ! ----------------------------------FINALIZA LOCALES--------------------------------------------------------- */

/* ! ----------------------------------HISTORIA----------------------------------------------------------------- */
.py-xl-5{
    background-color: #ffffff;
    border-radius: 10px;
}

.fit-cover {
    object-fit: cover;
}

.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
    --bs-icon-size: 1rem;
}

.bs-icon-md {
    --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

.col d-flex flex-column justify-content-center p-4 {
    border-radius: 11px;
    border-width: 19px;
    border-color: var(--bs-pink);
}
/* ! ----------------------------------FINALIZA HISTORIA-------------------------------------------------------- */


/* ! ----------------------------------CONTACTO----------------------------------------------------------------- */
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}


form {
    margin:0 auto;
    width:400px;
}


input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}


textarea {
    height:150px;
}


#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}


.contenedor__contacto {
    text-align: center;
    display: flex;
    padding-bottom: 106px;
    padding-top: 60px;
}


.contenedor__titulo {
    color: #000000;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}
/* ! ---------------------------------FINALIZA CONTACTO--------------------------------------------------------- */

/* ! ----------------------------------FOOTER------------------------------------------------------------------- */
/* Footer */
.footer {
    height: 4rem;
    background-color: #e9183b;
    color:#fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
}
/* ! ----------------------------------FINALIZA FOOTER--------------------------------------------------------- */