*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ! ----------------------------------CUERPO------------------------------------------------------------------- */
/* Cuerpo */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* ! ----------------------------------FINALIZA CUERPO---------------------------------------------------------- */

/* ! ------------------------------------------INDEX------------------------------------------------- */
/* Menu */
.navbar-brand{
    margin-left: 20px;
}

/* Menu */
.navbar-nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


/* Menu */
.nav-link {
    color: #e9183b;
}


/* Menu */
.navbar-collapse {
    justify-content: end;
}


/* Menu */
.container-fluid {
    height: auto;
    flex-direction: column;
}


/* Termina Menu */
.navbar-light .navbar-nav .nav-link {
    color: #e9183b;
}


/* Titulo "Productos Estrellas" */
.titulo__inicio {
    text-align: center;
    font-size: 4vw;
    font-family: 'Shadows Into Light', cursive;
}


/* Contenedor de Productos Estrellas */
.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: 3fr;
	gap: 20px;
}


/* Contenedor de Productos Estrellas */
.contenedor-productos-estrellas {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}


/* Contenedor de Productos Estrellas */
.tarjeta-productos-estrellas {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-image: url("../img/empanadas2.jpg");
}


/* Contenedor de Productos Estrellas */
.tarjeta-productos-estrellas__texto {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: #fff;
    text-shadow: 2px 2px 2px #e9183b;
}
/* ! ----------------------------------FINALIZA INDEX-------------------------------------------------------- */

/* ! ----------------------------------PRODUCTOS------------------------------------------------------------ */
/* Contenedor De Pagina Productos */
.container {
    padding-top: 200px;
    padding-bottom: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Texto Adentro Del Contenedor De Productos */
.tarjeta-productos__title {
    font-size: 3vh;
    text-shadow: 2px 2px 2px #e9183b;
}


.tarjeta-productos {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-color: #ffffff;
}


.productos {
    color: #000000;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
/* ! ----------------------------------FINALIZA PRODUCTOS------------------------------------------------------- */


/* ! ----------------------------------LOCALES------------------------------------------------------------------ */
/* Contenedor de locales */
.mt-5 {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	gap: 20px;
}


/* Contenedor de locales selector de Direccion */
hr {
    border-top: 1px solid #007bff;
    width:70%;
}


/* Selector De Direccion Color */
a {
    color: #000000;
}


/* Direccion */
address {
    margin-bottom: 10px;
}
/* ! ----------------------------------FINALIZA LOCALES--------------------------------------------------------- */

/* ! ----------------------------------HISTORIA----------------------------------------------------------------- */
.about-section{
    display: flex;
    background-size: 55%;
    background-color: #fdfdfd;
    height: 600px;
    padding-top: 100px;
}


.inner-container {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    padding: 150px;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;

}


.inner-container nosotros {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}


.text{
    font-size: 15px;
    padding-top: 40px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
}


.nosotros {
color: #F85370;
font-size: 40px;
}
/* ! ----------------------------------FINALIZA HISTORIA-------------------------------------------------------- */


/* ! ----------------------------------CONTACTO----------------------------------------------------------------- */
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}


form {
    margin:0 auto;
    width:400px;
}


input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}


textarea {
    height:150px;
}


#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}


.contenedor__contacto {
    text-align: center;
    display: flex;
    padding-bottom: 106px;
    padding-top: 60px;
}


.contenedor__titulo {
    color: #000000;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}
/* ! ---------------------------------FINALIZA CONTACTO--------------------------------------------------------- */

/* ! ----------------------------------FOOTER------------------------------------------------------------------- */
/* Footer */
.footer {
    height: 4rem;
    background-color: #e9183b;
    color:#fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
}
/* ! ----------------------------------FINALIZA FOOTER--------------------------------------------------------- */