*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Shadows Into Light', cursive;
    background-image: url("../img/45degreee_fabric.png");
}

.header-principal {
    width: 100%;
    height: 100vh;
    background-image: url(../img/EMPANADAS.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #000000;
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: #e9183b;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

.banner-text {
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 12px;
}

.banner-text span {
    color: #e9183b;
}


.button1 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: #e9183b;
    color: #fff;
    border-radius: 5px;
}

.button1:hover {
    background-color: #fff;
    color: #e9183b;
    transition: .5s;
}

.button2 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: #fff;
    color: #e9183b;
    border-radius: 5px;
}

.button2:hover {
    background-color:#e9183b;
    color: #fff;
    transition: .5s;
}

@media screen and (min-width:768px) {
    .logo {
        margin-left: 50px;
    }
    nav {
        height: 100px;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 22px;
    }
    .banner-text h1 {
        font-size: 70px;
        margin-bottom: 30px;
    }
}


.titulo__inicio {
    text-align: center;
    font-size: 4vw;
    font-family: 'Shadows Into Light', cursive;
}
/* Contenedor */
.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: 3fr;
	gap: 20px;
}


.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}
/* Termina contenedor */
.card .textos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: #fff;
    text-shadow: 2px 2px 2px #e9183b;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    color: #000000;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

.container__text {
    color: #000000;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.container__img {
    height: 500px;
}

.footer {
    height: 4rem;
    background-color: #e9183b;
    color:#fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
}

.contenedor__productos {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 30px;
}

.contenedor__productos-img {
    grid-column: 1 / span 2;
}

.contenedor__locales {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 90px;
}

.contenedor__productos-texto {
    color: #000000;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.productos {
    color: #000000;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.contenedor__locales-texto {
    padding-bottom: 20px;
    color: #000000;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.locales {
    color: #000000;
    padding-bottom: 60px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.contenedor__locales {
    padding-bottom: 30px;
}

.about-section{
    display: flex;
    background-size: 55%;
    background-color: #fdfdfd;
    height: 600px;
    padding: 100px 0;
}

.inner-container {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    padding: 150px;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;

}
.inner-container nosotros {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 15px;
    padding-top: 40px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
}
.nosotros {
color: #F85370;
font-size: 40px;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}

form {
    margin:0 auto;
    width:400px;
}

input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.contenedor__contacto {
    text-align: center;
    display: flex;
    padding-bottom: 106px;
    padding-top: 60px;
}

.contenedor__titulo {
    color: #000000;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}
